<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        Telepresence Login
    </title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container mw-540 p-3">
        <h3 class="mt-4 mb-5">🤖 Telepresence Robot Portal</h3>

        <% if (error == 'user') { %>
        <h6 class="text-danger mb-5">❗ Microsoft user authorisation failed.</h6>
        <% } %>

        <h6 class="mb-3">Work or school</h6>

        <form method="GET" action="/ms-login" class="mb-5">
            <button type="submit" class="btn btn-dark px-4 py-2"><img class="me-2" src="/assets/ms-logo.svg">Sign in
                with Microsoft</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>

</html>