{
  "tls": {
    "provider": "greenlock",
    "greenlock": {
      "subscriber_email": ""
    }
  },
  "ms-graph-api": {
    "client_id": "",
    "client_secret": ""
  },
  "organization": {
    "id": "",
    "display_name": "",
  },
  "peer": {}
}
