{
  "tls": {
    "provider": ""
  },
  "ms-graph-api": {
    "client_id": "",
    "client_secret": ""
  },
  "organization": {
    "id": "",
    "display_name": "",
  },
  "peer": {
    "config": {}
  }
}
